


.header{
    padding: 10px;
    border-bottom: 2px solid black;
    height:80px
}
.title{
    margin-top: 0;
}
.subtitle{
    color: hsla(0, 0%, 0%, 0.7);
    
}
.new-buttons{
    display: flex;
    padding: 10px;
}
.new-template{
    margin-right: 10px;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    background-color: rgba(230, 230, 230, 0.1);
    cursor: pointer;
}
.new-template:hover{
    background-color: rgba(230, 230, 230, 0.5);
}
.new-folder{
    display: flex;
    margin-right: 10px;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    background-color: rgba(230, 230, 230, 0.1);
    cursor: pointer;
}
.new-folder:hover{
    background-color: rgba(230, 230, 230, 0.5);
}
.icons-in-text{
    margin-right: 5px;
}
.templates-container{
    display: flex;
}
.template-card{
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 15px;
    padding-bottom: 10px;
    max-width: 300px;
    border: 1px solid rgba(0, 0, 0, 0.473);
    border-radius: 10px;
    max-height: 120px;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.219);
}
.card-title{
    font-size: 1em;
    margin: 0;
}
.card-sport{
    margin: 2px 2px 0px 2px;
    font-size: 0.8em;
    color: hsl(0, 0%, 60%);
}
.card-comment{
    font-size: 0.8em;
    margin: 5px 2px 0px 2px;
    min-height: 30px;
}
.card-zone{
    margin: 0;
}
.new-template-container{
    display: flex;
    margin: auto;
    flex-direction: column;
    margin-top: 20px;
    width: 450px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
}
.template-name-folder{
    display: flex;
    justify-content:space-between
}
.template-name{
    display: flex;
    flex-direction: column;
    width: 48%;
    
}
.template-folder{
     display: flex;
    flex-direction: column;
    width: 48%;
}
input{
    margin-top: 5px;
    border-radius: 10px;
    height: 24px;
    border-color: rgba(0, 0, 0, 0.4);
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.4);
}
label{
    margin-top: 10px;
    font-size: 1.2em;
    color: hsla(0, 0%, 0%, 0.6);
}
.select{
    height: 30px;
    border-radius: 10px;
    margin-top: 5px;
    color: hsla(0, 0%, 0%, 0.6);
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
}
#description-label{
    margin-top: 15px;
}
#descriptionInput{
    height: 60px;
    margin-top: 5px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
}

.zone-inputs{
    display: flex;
    max-width: 100%;
    justify-content: space-around;
    margin-top: 2px;
    margin-bottom: 5px;
    border-radius: 5px;
    
    text-align: center;
}
.zone-container{
    width: 40px;
    display: flex;
    flex-direction: column;
     align-items: center;
}
.card-zone-line{
    height:8px;
    width: 300px;
    border-radius: 5px;
    background-color: hsla(120, 92%, 44%, 0.6);
}
.zone-inputs input{
    width: 60px;
    height: 20px;
    border-radius: 8px;
    border-color: rgba(0, 0, 0, 0.4);
    text-align: center;
    box-shadow: none;
}
.zone-inputs label{
    color: rgb(255, 255, 255);
    border-radius: 8px;
    font-size: 0.8em;
    font-weight: bold;
}
#a1-label{
    background-color: rgb(52 211 153 / 1);
    width: 68px;
    padding: 3px 0px;
}
#a2-label{
    background-color: rgb(163 230 53 / 1);
    width: 68px;
    padding: 3px 0px;
}
#a3-label{
    background-color:rgb(250 204 21 / 1);
    width: 68px;
    padding: 3px 0px;
}
#a3minus-label{
    background-color: rgb(251 146 60 / 1)
;
    width: 68px;
    padding: 3px 0px;
}
#a3plus-label{
    background-color:rgb(248 113 113 / 1)
;
    width: 68px;
    padding: 3px 0px;
}
#comp-label{
    background-color: rgb(185 28 28 / 1);
    width: 68px;
    padding: 3px 0px;
}