.athletes-page {
  padding: 20px;
}
.athletes-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem; /* Skapar avstånd mellan varje atleter-kort */
}
.athlete-item{
    background-color: white;
    box-shadow: 0 8px 20px rgba(15, 23, 42, 0.08);
    border-radius: 20px;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}